html{
    scroll-behavior: smooth;
}
body{
    height: 2000px;
}
.north{
    right: 30px;
    bottom: 20px;
    position: fixed;
    z-index: 99;
    background: white;
    padding: 15px;
    border: 0;
    border-radius: 50%;
    color: black;
    font-family: sans-serif;
    font-size: 18px;
    display: none;
    /* transition: all .9s; */
    /* align-items: center;
    justify-content: center; */
    cursor: pointer;
}
.north:hover{
    background: #555;
    color: whitesmoke;
}